
.single-page-details .single-page-wrapper .post-item .post-gallery-slider .slick-arrow {
    background-color: #F57236;
}
.sidebar-widget-area .widget.categories-widget ul.widget-link li a:hover {
    color: #F57236;
}
.sidebar-widget-area .widget.search-widget .form_group .search_btn {
    color: #F57236;
}
.sidebar-widget-area .widget.categories-widget ul.widget-link li.active a {
    color: #F57236;
}
.page-item.active .page-link {
    background-color: #F57236;
    border-color: #F57236;
}
.page-link {
    color: #F57236;
}
.breadcrumbs-section {
    background: #F5723608;
}